body
  color white
  font 150% Helvetica, arial, sans-serif
  display flex
  align-items: center
  justify-content: center
  min-height 100vh
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(69,86,102,1) 0%, rgba(34,34,34,1) 90% );
  background-attachment fixed

#root
  width: 100%

.guitar
  width 100%
  max-width 1300px
  margin 0px auto

.string
  display grid
  grid-template-columns repeat( auto-fit, minmax(25px, 1fr) );
  grid-gap 2px
  margin 2px 0
  text-transform uppercase

.string > div,
.note
  flex: 1
  background: rgba(0, 0, 100, 0.5)
  border: 1px solid rgba(250, 250, 250, 0.2)
  padding: 0.2em
  display: flex
  align-items: center
  justify-content: center
  font-size: 82%

.fret, .note
  transition background 400ms ease-out

for row in 0..11
	.tone-{row}
		background darken(spin(#33f, (row * (360/12))deg), 35%) !important;

.selected, .marker
  background: #333 !important;

.base
  background: rgba(10, 10, 10, 0.7) !important;

.debug
  display: none;

.spec
  position absolute
  left: 10px
  opacity 0
  margin-top: 3px
  max-width 25px
  transition: opacity 300ms
  &:hover
    opacity 1

.controls
  position absolute
  top 1em
  left 4.2em
  transform: scale(1.5)

.stringmarker
  margin-top: 7px

  div
    background: transparent !important;
    border: 0
    font-size: 62%
    opacity 0.5

  &:nth-of-type(0)
    background red !important
    opacity 0
